html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body{
    background-color: black;
    width: auto;
    min-width: 980px;
    text-align: center;
}
.container {
    width: auto;
    margin: 0 auto;
    text-align: left;
    background-color: black;
}
.container2 {
    width: auto;
    margin: 0 auto;
    text-align: left;
    background-color: white;
}
.header{
    width: auto;
    margin: 0 auto;
    display: grid;
    background-color: black;
    color: white;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
.header-left{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    text-align: center;
    padding-left: 600px;
}
.header-right{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    text-align: center;
    padding-right: 600px;
    padding-top: 50px;
}
.header-link{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 5;
    padding-left: 250px;
    padding-top: 10px;
    
}
.img2{
    margin: 0 auto;
    background-color: black;
    background-repeat: no-repeat;
}

.main{
    width: auto;
    margin: 0 auto;
    display: grid;
    background-color: white;
    color: black;
    height: 1000px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}
.main-left{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    padding-left: 600px;
}
.main-right{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    display: grid;
}
.main-right-left{ 
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}
.main-right-right{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    border-left:#4996c5 1px solid;
    padding-left: 10px;
}
.footer{
    width: auto;
    margin: 0 auto;
    display: grid;
    background-color: black;
    color: white;
    margin: 100px;
}
.footer-center{
    background-color: black;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 33% 33% 33%;
}
.footer1{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: black;
    padding-right: 10px;
}
.footer2{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: black;
    padding-right: 10px;
}
.footer3{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: black;
    padding-right: 10px;
}
.footer4{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: black;
    padding-right: 10px;
}
.footer5{
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: black;
    padding-right: 10px;
    
}
h1{
    font-size: 48px;
    font-family: sans-serif;
    font-weight: bolder;
    color:#4996c5;
    text-align: left;
}
h2{
    font-size: 48px;
    font-family: sans-serif;
    font-weight: bolder;
    color:black;
    text-align: left;
}
h3{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    color:#4996c5;
    text-align: left;
}
h4{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    color:#4996c5;
    text-align: left;
    padding:8px;
}
h5{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: lighter;
    color:#4996c5;
    text-align: left;
    padding: 5px;
}
.font1{
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bolder;
    color:white;
    text-align: left;
}
a{
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    color:white;
    text-decoration: none;
}
a.visited{
    color: #4996c5;
}
a:active{
    color: #812c21;
}
a:hover {
    color: #812c21;
  }
.a2{
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    color:black;
    text-decoration: none;
}
.a2.visited{
    color: #4996c5;
}
.a2:active{
    color: #812c21;
}
.a2:hover {
    color: #812c21;
  }
